[package]
name = "build-info-common"
version = "0.0.2"
authors = ["Daniel Schemmel <daniel@schemmel.net>"]
edition = "2018"
publish = ["crates-io"]
repository = "https://github.com/danielschemmel/build-info/"
description = "Part of the build-info and build-info-build crates: This crate provides the types that are serialized by build-info-build and used by build-info."

[dependencies]
chrono = { version = "0.4", default-features = false }
derive_more = "0.99"
semver = "0.10"
serde = { version = "1", features = ["derive"], optional = true }

[features]
default = []
enable-serde = ["serde", "semver/serde", "chrono/serde"]
full-chrono = ["chrono/default"]
