[package]
name = "build-info"
version = "0.0.39"
description = "Collects build-information of your Rust crate."
readme = "README.md"
authors = ["Daniel Schemmel <daniel@schemmel.net>"]
repository = "https://github.com/danielschemmel/build-info/"
license = "MIT OR Apache-2.0"

edition = "2021"
rust-version = "1.75.0"

[dependencies]
build-info-common = { version = "=0.0.39", path = "../build-info-common", optional = true, features = ["serde"] }
build-info-proc = { version = "=0.0.39", path = "../build-info-proc" }
bincode = { version = "1", optional = true }

[features]
default = ["runtime"]
oxford-comma = ["build-info-proc/oxford-comma"]
runtime = ["dep:build-info-common", "dep:bincode", "build-info-proc/runtime"]
