[package]
name = "build-info"
version = "0.0.1-alpha.1"
authors = ["Daniel Schemmel <daniel@schemmel.net>"]
edition = "2018"
publish = ["crates-io"]

[dependencies]
lazy_static = { version = "1", optional = true }
proc-macro-hack = "0.5"
proc-macro-nested = { version = "0.1", optional = true }
build-info-common = { path = "../build-info-common" }
build-info-proc = { path = "../build-info-proc" }

[features]
default = ["runtime"]
nested = ["proc-macro-nested"]
runtime = ["lazy_static", "build-info-proc/runtime"]
chrono = ["build-info-common/full-chrono"]
serde = ["build-info-common/enable-serde"]
