[package]
name = "build-info"
version = "0.0.20"
authors = ["Daniel Schemmel <daniel@schemmel.net>"]
edition = "2018"
rust = "1.45" # build-info-proc dependency
publish = ["crates-io"]
repository = "https://github.com/danielschemmel/build-info/"
description = "Collects build-information of your Rust crate."
readme = "../README.md"
license = "MIT OR Apache-2.0"

[dependencies]
lazy_static = { version = "1", optional = true }
proc-macro-hack = "0.5"
proc-macro-nested = { version = "0.1", optional = true }

build-info-common = { version = "=0.0.20", path = "../build-info-common", optional = true }
build-info-proc = { version = "=0.0.20", path = "../build-info-proc" }

[features]
default = ["runtime"]
nested = ["proc-macro-nested", "build-info-proc/nested"]
runtime = ["lazy_static", "build-info-common", "build-info-proc/runtime"]
serde = ["runtime", "build-info-common/enable-serde"]
